.bordure{
    border: 2px solid red;
    height: auto;
    width: auto;
}
.conteneur1{
    background-color: grey;
    height: 925px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.conteneur2{
    background-color: grey;
    height: auto;
    width: auto;
    display: inline-block;
    font-family: Roboto;
}
.logo{
  filter: grayscale(100%);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid white;
}
.Pingoo{
  text-align: center;
}
.h3{
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}
.Contacts{
  text-align: left;
}
.Logiciel{
  display: inline-block;
  width: 100px;
}
.Languages{
  display:inline-block;
  width: 100px;
}
div > i{
  padding-left: 10px;
}
body{
  color: white;
}
.Prenom{
  color: black;
}
.Surname{
  color: #77b5fe;
}
h4{
  color: #77b5fe
}
h2{
  font-size: bold;
  color: black;
}
h3{
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.corps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
